<h2 mat-dialog-title>Create WorkFlow</h2>
  <mat-dialog-content class="mat-typography">
    <form class="example-form">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>WorkFlow Name</mat-label>
            <input value="name" readonly matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>WorkFlow Doc type</mat-label>
            <input value="Doc type" readonly matInput>
          </mat-form-field>
        </div>
        
      </div>
      <div cdkDropListGroup class="row">
        <div class="col-md-4">
            <h1> Directions</h1>
            <mat-form-field appearance="fill">
                <mat-label>Structure Liste</mat-label>
                <mat-select [formControl]="structureSelected" multiple>
                  <mat-select-trigger>
                    {{structureSelected.value ? structureSelected.value[0] : ''}}
                    <span *ngIf="structureSelected.value?.length > 1" class="example-additional-selection">
                      (+{{structureSelected.value.length - 1}} {{structureSelected.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let structure of structureList" [value]="structure">{{structure}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row">
                <div class="col-md-12">
                    {{structureSelected.value}}
                </div>
            </div>
          </div>
        <div class="col-md-4">
          <h1> Postes</h1>
          <div cdkDropList
            class="example-list" 
           (cdkDropListDropped)="onDrop($event)"  
           [cdkDropListData]="postesList"
          >
            <div cdkDrag class="example-box"  *ngFor="let poste of postesList">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              {{poste}}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1> WorkFlow</h1>
          <div cdkDropList
           (cdkDropListDropped)="onDrop($event)" 
           class="example-list"  
           [cdkDropListData]="workflows"
          >
            <div cdkDrag class="example-box" *ngFor="let poste of workflows">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              {{poste}}
            </div>
          </div>
        </div>
      </div>
        <!--div class="row">
            <div class="col-md-12">
                <div class="example-button-row" align="end">
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                  </div>
    
            </div>
        </div-->
      
      </form>   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions>

