<br>
<div class="row">
  <div class="col-md-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<div class="row">
    <div align="end">
        <button mat-button (click)="newStructure()">Add new Structure</button>
    </div>
</div>
<app-error *ngIf="!loading && isEmpty"></app-error>
<div  class="row" *ngIf="!loading && !isEmpty">
    <div class="col-md-12">
      <mat-card>
        <div class="row"></div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input (keyup)="search($event)" type="text"id="search" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-sm-2 col-form-label">
            <div class="input-group">
              <span class="input-group-addon" style="background: none; border: none;" id="basic-addon1">
                <mat-radio-group [(ngModel)]="searchBy">
                  <mat-radio-button class="example-margin" value="name">Name</mat-radio-button>
                  <mat-radio-button class="example-margin" value="sigle">Sigle</mat-radio-button>
                </mat-radio-group>
              </span>
            </div>
            
          </div>
    
        </div>
        <div class="alert alert-danger" *ngIf="research" role="alert">
          not found 
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Structure Sigle</th>
                <th scope="col">Structure Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let structure of pageStructures?.content;let indexOfelement=index">
                <th scope="row">{{indexOfelement + 1 }}</th>
                <td>{{structure.sigle!}}</td>
                <td>{{structure.name!}}</td>
                <td>
                  <button mat-button [matMenuTriggerFor]="action">Actions</button>
                  <mat-menu #action="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="edit">Edit</button>
                    <button mat-menu-item (click)="openDialogAddSubStructure(structure)"> Add / Remove SubStructure</button>
                    <button mat-menu-item (click)="openDialogHistoric(structure)"> Information about</button>
                  </mat-menu>
                  <mat-menu #edit="matMenu">
                    <button mat-menu-item (click)="openDialogEdit(structure)">  Edit Structure</button>
                    <button mat-menu-item (click)="openDialogCreatePoste(structure)"> Create Poste</button>
                    <button mat-menu-item (click)="openDialogListPoste(structure)"> List of here Poste</button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="row">
          <div class="col-md-4">
            <app-nav-table [pageNumber]="pageStructures?.pageable?.pageNumber!" [first]="pageStructures?.first!" [last]="pageStructures?.last!" [size]="pageStructures?.size!" [totalPages]="pageStructures?.totalPages!" (changePageAndSize)="changePageAndSize($event)"></app-nav-table>              
          </div>
        </div>
      </mat-card>
    </div>
  </div>






