<div class="container">
	<div class="row">
                <!--  *ngIf="onHasRole(constantes.rtl)"  --><button type="button" [routerLink]="constantes.typeLiassePath" class="btn btn-info btn-sm btn3d"><i class="fa fa-folder" aria-hidden="true"></i> Type de Dossiers</button>
                <!--  *ngIf="onHasRole(constantes.rli)"  --><button type="button" [routerLink]="constantes.archivePath" class="btn btn-info btn-sm btn3d"> Archives</button>
                <!--  *ngIf="onHasRole(constantes.rli)"  --><button type="button" [routerLink]="constantes.courrierPath" class="btn btn-info btn-sm btn3d"> courrier</button>
                <!--  *ngIf="onHasRole(constantes.rli)"  --><button type="button" [routerLink]="constantes.liassePath" class="btn btn-info btn-sm btn3d"><i class="fa fa-folder" aria-hidden="true"></i> Dossiers</button>
                <!--  *ngIf="onHasRole(constantes.rdo)"  --><button type="button" [routerLink]="constantes.documentationPath" class="btn btn-info btn-sm btn3d"><i class="fa fa-file" aria-hidden="true"></i> Documents</button>
                <!--  *ngIf="onHasRole(constantes.rwf)"  --><button type="button" [routerLink]="constantes.workflowPath" class="btn btn-info btn-sm btn3d"><i class="fa fa-tachometer" aria-hidden="true"></i> Workflows</button>
                <!--  *ngIf="onHasRole(constantes.rus)"  --><button type="button" [routerLink]="constantes.userPath" class="btn btn-info btn-sm btn3d"><i class="fa fa-user " aria-hidden="true"></i> Utilisateurs</button>
                <!--  *ngIf="onHasRole(constantes.rst)"  --><button type="button" [routerLink]="constantes.structurePath" class="btn btn-info btn-sm btn3d">Directions / Cellules</button>
                <!--  *ngIf="onHasRole(constantes.rst)"  --><button type="button" [routerLink]="constantes.organigramPath" class="btn btn-info btn-sm btn3d"><i class="fa fa-sitemap " aria-hidden="true"></i> Organigramme</button>
                <button type="button" [routerLink]="constantes.notificationPath" class="btn btn-info btn-sm btn3d"><i class="fa fa-bell" aria-hidden="true"></i> Notification<span class="badge">2</span></button>
                <!--  *ngIf="onHasRole(constantes.rro)"  --><button type="button" [routerLink]="constantes.groupPath" class="btn btn-info btn-sm btn3d"><i class="fa fa-users" aria-hidden="true"></i> Groupes</button>
	</div>
</div>