<br>
<div class="row">
  <div class="col-md-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-lg btn-block" (click)="newPoste($event)">Add new Poste</button>
            </div>
        </div>
        
        
    </div>
   
</div>
list of Poste
<div class="row">
    <div class="col-md-12">
      <mat-card>
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
          <div class="col-sm-6">
            <input type="text"id="search" class="form-control" placeholder="PLACEHOLDER.FILTERtranslate">
          </div>
    
        </div>
        <div class="alert alert-danger" role="alert">
          not found 
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Poste name</th>
                <th scope="col">Occupe par</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Projet</td>
                <td>Word</td>
                <td>
                  <button mat-button [matMenuTriggerFor]="action">Actions</button>
                  <mat-menu #action="matMenu">
                    <button mat-menu-item  (click)="openDialogEdit($event)">  Edit</button>
                    <button mat-menu-item  (click)="openDialogSetPosteUser($event)"> Add / Remove User to this poste</button>
                    <button mat-menu-item  (click)="openDialogSetPosteRole($event)"> Add / Remove Role to this poste</button>
                    <button mat-menu-item  (click)="openDialogAddSubPoste($event)"> Add / Remove Subposte to this poste</button>
                    <button mat-menu-item (click)="openDialogHistoric($event)"> Information about</button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                  <button mat-button [matMenuTriggerFor]="action">Actions</button>
                  <mat-menu #action="matMenu">
                    <button mat-menu-item  (click)="openDialogEdit($event)">  Edit</button>
                    <button mat-menu-item  (click)="openDialogSetPosteUser($event)"> Add / Remove User to this poste</button>
                    <button mat-menu-item  (click)="openDialogSetPosteRole($event)"> Add / Remove Role to this poste</button>
                    <button mat-menu-item  (click)="openDialogAddSubPoste($event)"> Add / Remove Subposte to this poste</button>
                    <button mat-menu-item (click)="openDialogHistoric($event)"> Information about</button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>
                  <button mat-button [matMenuTriggerFor]="action">Actions</button>
                  <mat-menu #action="matMenu">
                    <button mat-menu-item  (click)="openDialogEdit($event)">  Edit</button>
                    <button mat-menu-item  (click)="openDialogSetPosteUser($event)"> Add / Remove User to this poste</button>
                    <button mat-menu-item  (click)="openDialogSetPosteRole($event)"> Add / Remove Role to this poste</button>
                    <button mat-menu-item  (click)="openDialogAddSubPoste($event)"> Add / Remove Subposte to this poste</button>
                    <button mat-menu-item (click)="openDialogHistoric($event)"> Information about</button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="row">
          <div class="col-md-4">
            <app-nav-table></app-nav-table>
          </div>
        </div>
      </mat-card>
    </div>
  </div>






