<h2 mat-dialog-title>LISTE POSTE IN Structure {{structureName}}</h2>
  <mat-dialog-content class="mat-typography">
    <app-error *ngIf="!loading && isEmpty"></app-error>
    <div  class="row" *ngIf="!loading && !isEmpty">
        <div class="col-md-12">
          <mat-card>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Poste Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let postes of pagePostes?.content;let indexOfelement=index">
                    <th scope="row">{{indexOfelement + 1 }}</th>
                    <td>{{postes.name!}}</td>
                    <td>
                      <button mat-button [matMenuTriggerFor]="action">Actions</button>
                      <mat-menu #action="matMenu">
                        <button mat-menu-item (click)="openDialogEdit(postes)">  Edit</button>
                        <button mat-menu-item (click)="openDialogAddSubPoste(postes)"> add / remove sub Poste</button>
                        <button mat-menu-item (click)="openDialogSetPosteUser(postes)"> Set user in poste</button>
                        <button mat-menu-item (click)="openDialogSetPosteRole(postes)"> Add / Remove Role</button>
                        <button mat-menu-item (click)="openDialogHistoric(postes)"> Information about</button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            <div class="row">
              <div class="col-md-12">
                <app-nav-table [pageNumber]="pagePostes?.pageable?.pageNumber!" [first]="pagePostes?.first!" [last]="pagePostes?.last!" [size]="pagePostes?.size!" [totalPages]="pagePostes?.totalPages!" (changePageAndSize)="changePageAndSize($event)"></app-nav-table>              
              </div>
            </div>
          </mat-card>
        </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>