<br/>
<div class="container">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Admin Dashboard Buttons</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                            <h3>
                                <i class="fa fa-cogs" aria-hidden="true"></i> DashBoard
                            </h3>                                
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <!-- dblue -->
                          <a [routerLink]="constantes.dashboardPath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />DashBoard </a>
                        </div>
                    </div>
                    <br/>
                        <div class="row"  ><!-- *ngIf="onHasRole(constantes.rli) || onHasRole(constantes.rdo) || onHasRole(constantes.rtl) || onHasRole(constantes.rwf)" -->
                            <div class="col-md-12">
                                <h3>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Management Documentaion Module
                                </h3>                                
                            </div>
                        </div>
                        <div class="row"> <!-- *ngIf="onHasRole(constantes.rli) || onHasRole(constantes.rdo) || onHasRole(constantes.rtl) || onHasRole(constantes.rwf)" -->
                            <div class="col-md-12">
                              <!-- dblue -->
                              <!--  *ngIf="onHasRole(constantes.rli)" --><a [routerLink]="constantes.modelePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />Modeles </a>
                              <!--  *ngIf="onHasRole(constantes.rli)"  --><a [routerLink]="constantes.courrierPath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />Sites </a>
                              <!--  *ngIf="onHasRole(constantes.rtl)"  --><a [routerLink]="constantes.typeLiassePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-folder fa-4x" aria-hidden="true"></i> <br />Tâches  </a>
                              <!--  *ngIf="onHasRole(constantes.rli)"  --><a [routerLink]="constantes.liassePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-folder fa-4x" aria-hidden="true"></i> <br />WorkFlow  </a>
                            </div>
                        </div>

                        <br/>
                        <div class="row"  ><!-- *ngIf="onHasRole(constantes.rli) || onHasRole(constantes.rdo) || onHasRole(constantes.rtl) || onHasRole(constantes.rwf)" -->
                            <div class="col-md-12">
                                <h3>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Management Courrier Module
                                </h3>                                
                            </div>
                        </div>
                        <div class="row"> <!-- *ngIf="onHasRole(constantes.rli) || onHasRole(constantes.rdo) || onHasRole(constantes.rtl) || onHasRole(constantes.rwf)" -->
                            <div class="col-md-12">
                              <!-- dblue -->
                              <!--  *ngIf="onHasRole(constantes.rli)" --><a [routerLink]="constantes.archivePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />Courrier Sortant </a>
                              <!--  *ngIf="onHasRole(constantes.rli)"  --><a [routerLink]="constantes.courrierPath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />Courrier Entrant </a>
                              <!--  *ngIf="onHasRole(constantes.rtl)"  --><a [routerLink]="constantes.typeLiassePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-folder fa-4x" aria-hidden="true"></i> <br />Courier Confidentiel  </a>
                              <!--  *ngIf="onHasRole(constantes.rli)"  --><a [routerLink]="constantes.liassePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-folder fa-4x" aria-hidden="true"></i> <br />Courriers  </a>
                            </div>
                        </div>

                        
                        <br/>
                        <div class="row"  ><!-- *ngIf="onHasRole(constantes.rli) || onHasRole(constantes.rdo) || onHasRole(constantes.rtl) || onHasRole(constantes.rwf)" -->
                            <div class="col-md-12">
                                <h3>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Management Archive Module
                                </h3>                                
                            </div>
                        </div>
                        <div class="row"> <!-- *ngIf="onHasRole(constantes.rli) || onHasRole(constantes.rdo) || onHasRole(constantes.rtl) || onHasRole(constantes.rwf)" -->
                            <div class="col-md-12">
                              <!-- dblue -->
                              <!--  *ngIf="onHasRole(constantes.rli)" --><a [routerLink]="constantes.archivePath" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />Archive </a>
                              <!--  *ngIf="onHasRole(constantes.rli)"  --><a [routerLink]="'entrepot'" class="btn btn-dblue btn-lg" role="button"><i class="fa fa-tachometer fa-4x" aria-hidden="true"></i> <br />Entrepot </a>
                            </div>
                        </div>
                        <br/>
                        
                        <div class="row"> <!--  *ngIf="onHasRole(constantes.rus) || onHasRole(constantes.rst) || onHasRole(constantes.rro)" -->
                            <div class="col-md-12">
                                <h3>
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Management User Module
                                </h3>                                
                            </div>
                        </div>
                        <div class="row"><!--  *ngIf="onHasRole(constantes.rus) || onHasRole(constantes.rst) || onHasRole(constantes.rro)" -->
                            <div class="col-md-12">
                              <!--  *ngIf="onHasRole(constantes.rus)"  --><a [routerLink]="constantes.userPath"class="btn btn-dred btn-lg" role="button"><i class="fa fa-user fa-4x" aria-hidden="true"></i> <br />Utilisateurs  </a>
                              <!--  *ngIf="onHasRole(constantes.rst)"  --><a [routerLink]="constantes.structurePath" class="btn btn-dred btn-lg" role="button"><i class="fa fa-user fa-4x" aria-hidden="true"></i> <br />Directions / <br/> Cellules  </a>
                              <!--  *ngIf="onHasRole(constantes.rst)"  --><a [routerLink]="constantes.organigramPath" class="btn btn-dred btn-lg" role="button"><i class="fa fa-sitemap fa-4x" aria-hidden="true"></i> <br />Organigramme  </a>
                              <!--  *ngIf="onHasRole(constantes.rro)"  --><a [routerLink]="constantes.groupPath" class="btn btn-dred btn-lg" role="button"><i class="fa fa-users fa-4x" aria-hidden="true"></i> <br />Groupes  </a>
                              <a [routerLink]="constantes.notificationPath" class="btn btn-dred btn-lg" role="button"><i class="fa fa-bell fa-4x" aria-hidden="true"></i> <br />Notification<span class="badge">2</span>  </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-dgreen btn-lg" role="button"><span class="glyphicon glyphicon-signal glyphsize green"></span> <br/>Business<br />Reports </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-mred btn-lg" role="button"><span class="glyphicon glyphicon-envelope glyphsize"></span> <br/>Postage<br />Manager</a>
                              <a href="#" class="btn btn-mred btn-lg" role="button"><span class="glyphicon glyphicon-home glyphsize"></span> <br/>Postcode<br />Setup</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-orange btn-lg" role="button"><span class="glyphicon glyphicon-bullhorn glyphsize"></span> <br/>Announcement<br />Manager</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list glyphsize blue"></span> <br /><span class="blue">Category<br />Manager</span></a>
                              <a href="#" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list-alt glyphsize blue"></span> <br/><span class="blue">SubCategory<br />Manager</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-burnt btn-lg" role="button"><span class="glyphicon glyphicon-tint glyphsize yellow"></span> <br/>Colour<br />Manager</a>
                              <a href="#" class="btn btn-burnt btn-lg" role="button"><span class="glyphicon glyphicon-cog glyphsize yellow"></span> <br/>Swatch<br />Setup</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-green btn-lg" role="button"><span class="glyphicon glyphicon-dashboard glyphsize dgreen"></span> <br /><br />Dashboard</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-lime btn-lg" role="button"><span class="glyphicon glyphicon-globe glyphsize dgreen"></span> <span class="dgreen"><br />Website<br />Manager</span></a>
                              <a href="#" class="btn btn-lime btn-lg" role="button"><span class="glyphicon glyphicon-cog glyphsize dgreen"></span> <span class="dgreen"><br />SEO<br />Setup</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-mokka btn-lg" role="button"><span class="glyphicon glyphicon-triangle-right glyphsize green"></span><span class="glyphicon glyphicon-home glyphsize choc"></span> <br />Delivery<br />Setup</a>
                              <a href="#" class="btn btn-mokka btn-lg" role="button"><span class="glyphicon glyphicon-tasks glyphsize choc"></span> <br />Departments<br />Setup</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-dpurple btn-lg" role="button"><span class="glyphicon glyphicon-gbp glyphsize lilac"></span> <br/>Payments<br />Manager</a>
                              <a href="#" class="btn btn-dpurple btn-lg" role="button"><span class="glyphicon glyphicon-piggy-bank glyphsize mblue"></span> <br/>Paypal<br />System</a>
                              <a href="#" class="btn btn-dpurple btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br/>Insurance<br />Claims</a>
                              <a href="#" class="btn btn-dpurple btn-lg" role="button"><span class="glyphicon glyphicon-check glyphsize green"></span> <br/>Invoices<br />Paid</a>
                              <a href="#" class="btn btn-dpurple btn-lg" role="button"><span class="glyphicon glyphicon-remove glyphsize red"></span> <br/>Invoices<br />Canceled</a>
                              <a href="#" class="btn btn-dpurple btn-lg" role="button"><span class="glyphicon glyphicon-saved glyphsize lilac"></span> <br/>Invoices<br />Archived</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-purple btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart glyphsize black"></span> <br/>Shopping<br />Cart</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-lilac btn-lg" role="button"><span class="glyphicon glyphicon-file glyphsize purple"></span> <br/>Product<br />Manager</a>
                              <a href="#" class="btn btn-lilac btn-lg" role="button"><span class="glyphicon glyphicon-text-width glyphsize"></span> <br/>Product<br />Sizes</a>
                              <a href="#" class="btn btn-lilac btn-lg" role="button"><span class="glyphicon glyphicon-text-width glyphsize purple"></span> <br/>Sizes<br />Manager</a>
                              <a href="#" class="btn btn-lilac btn-lg" role="button"><span class="glyphicon glyphicon-th-large glyphsize"></span> <br/>Stock<br />Manager</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <a href="#" class="btn btn-yellow btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize orange"></span> <br/><span class="orange">User<br />Setup</span></a>
                              <a href="#" class="btn btn-yellow btn-lg" role="button"><span class="glyphicon glyphicon-question-sign glyphsize orange"></span> <br/><span class="orange">Vaccination<br />Manager</span></a>
                    
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
