<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel">

            <div class="panel-heading">
                <div class="test">
                    <div class="text-center mt-4">
                        <h1 class="h2">Welcome to PAGEGED</h1>
                        <p class="lead">
                            Sign in to your account to enjoy your work
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <div class="text-center">
                                <img src="../../../assets/cuy.jpg" alt="Andrew Jones" class="img-fluid rounded-circle" width="132" height="132">
                            </div>
                            <form [formGroup]="loginFormGroup" class="example-form">
                                <!-- <div class="test">
                                    <h4>Autentification</h4>
                                </div> -->
                                <div class="form-group">
                                    <label class="form-label" >Username / Login: </label>
                                    <input type="text" autocomplete="off" formControlName="username" name="username" id="username" class="form-control" name="username">
                                    <div *ngIf="f['username'].touched && f['username'].errors" class="list-group-item list-group-item-danger">
                                        {{f["username"].errors|json}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" >Password: </label>
                                    <input type="password" autocomplete="off" formControlName="password" name="password" id="password" class="form-control" name="password">
                                </div>

                                <div>
                                    <div class="custom-control custom-checkbox align-items-center">
                                        <input type="checkbox" class="custom-control-input" value="remember-me" name="remember-me" checked="">
                                        <label class="custom-control-label text-small">Remember me</label>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <i *ngIf="!clicked" class='fa fa-spinner fa-spin fa-3x'></i>
                                    <button *ngIf="clicked" [disabled]="loginFormGroup.invalid" (click)="onLogin()"  class="btn btn-lg btn-success">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<mat-horizontal-stepper>
  <mat-step label="fqsd" >
    <h1>fqsd</h1>
  </mat-step>
  <mat-step label="fqs1d">
    <h1>fqs1d</h1>
  </mat-step>
  <mat-step label="fqsd3"></mat-step>
  <mat-step label="fqs5d"></mat-step>
</mat-horizontal-stepper>
