<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel">
            
            <div class="panel-heading">
                <div class="test">
                    <div class="text-center mt-4">
                        <h1 class="h2">Welcome to PAGEGED</h1>
                        <p class="lead">
                            Sign in to your account to enjoy your work
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <div class="text-center">
                                <img src="../../../assets/cuy.jpg" alt="Andrew Jones" class="img-fluid rounded-circle" width="132" height="132">
                            </div>
                            <form [formGroup]="loginFormGroup" class="example-form">
                                <!-- <div class="test">
                                    <h4>Autentification</h4>
                                </div> -->
                                <div class="form-group">
                                    <label class="form-label" >Username / Login: </label>
                                    <input type="text" autocomplete="off" formControlName="username" name="username" id="username" class="form-control" name="username">
                                    <div *ngIf="f['username'].touched && f['username'].errors" class="list-group-item list-group-item-danger">
                                        {{f["username"].errors|json}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" >Password: </label>
                                    <input type="password" autocomplete="off" formControlName="password" name="password" id="password" class="form-control" name="password">
                                </div>                                
            
                                <div>
                                    <div class="custom-control custom-checkbox align-items-center">
                                        <input type="checkbox" class="custom-control-input" value="remember-me" name="remember-me" checked="">
                                        <label class="custom-control-label text-small">Remember me</label>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <i *ngIf="!clicked" class='fa fa-spinner fa-spin fa-3x'></i>
                                    <button *ngIf="clicked" [disabled]="loginFormGroup.invalid" (click)="onLogin()"  class="btn btn-lg btn-success">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
   
</div>
<!-- 
 <div class="container">
<div class="row">
   <div class="col-md-3 col-sm-4">
      <div class="panel widget">
         <div class="half-float">
            <img src="https://bootdey.com/img/Content/bg1.jpg" alt="" class="img-responsive">
            <div class="half-float-bottom" >
               <img  src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image" class="img-thumbnail img-circle thumb128">
            </div>
         </div>
         <div class="panel-body text-center">
            <h3 class="m0">Profile Name: dfqdfqdsf</h3>
            <p class="text-muted" style="padding-top: 0px;">
                Current User: sdgsdfsd <br> 
                Structure: sdgsdfsd <br> 
                Status: sdgsdfsd</p>
            
         </div>
         <div class="panel-body text-center" style="background-color: red;">
            <div class="row row-table">
               <div class="col-xs-4">
               </div>
               <div class="col-xs-4">
                  <h3 class="m0">2000</h3>
                  <p class="m0">Likes</p>
               </div>
               <div class="col-xs-4">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div> 
 -->



                      
<!-- <mat-tab-group color="primary">
  <mat-tab label=" 'HABILITATION.ASSEMPLOYE' | translate ">
    <ng-template matTabContent>
      <div class="container">
        <div class="formContent">
          <form #employee_GroupForm="ngForm" class="formLogin">
            <h4> 'HABILITATION.ASSEMPLOYE' | translate </h4>
            <mat-form-field appearance="outline">
                  <mat-label> 'HABILITATION.EMPLOYENAME' | translate </mat-label>
                  <mat-select name="employeeId"  required>
                      <mat-option >-----</mat-option>
                      <mat-option > 
                          employee.employeeName   employee.employeeSurname 
                      </mat-option>
                  </mat-select>
                  <mat-icon matSuffix></mat-icon>
                  <mat-error> 'HABILITATION.EMPLOYERSELECT' | translate </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                      <mat-label> 'HABILITATION.GROUPNAME' | translate </mat-label>
                      <mat-select name="employeeGroupId"  required>
                          <mat-option >-----</mat-option>
                          <mat-option > 
                              employeeGroup.groupName 
                          </mat-option>
                      </mat-select>
                      <mat-icon matSuffix></mat-icon>
                      <mat-error> 'HABILITATION.GROUPERROR' | translate </mat-error>
              </mat-form-field>
              <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;">
                  <span>
                    <input  type="submit" value="BTN.SUBMIT | translate" class="btn btn-success" />
                  </span>
                  <span>
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                  </span>                      
                  </div>
              </div>
          </form>
        </div>
    </div> 
    <div class="mat-elevation-z8">
      <mat-card>
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-label" style="text-align: right;"> 'SEARCH' | translate </label>
          <div class="col-sm-6">
            <input type="text" id="search" class="form-control" placeholder="PLACEHOLDER.FILTER |translate">
          </div>
        </div>
        <div class="alert alert-danger" role="alert" >
          not found 
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"> 'HABILITATION.EMPLOYE' | translate </th>
              <th scope="col"> 'HABILITATION.GROUPNAME' | translate  </th>
              <th scope="col">  'HABILITATION.ASSDATE' | translate  </th>
              <th scope="col"> <h6> 'ACTIONL.EDIT' | translate </h6></th>
              <th scope="col"> <h6> 'ACTIONL.DELETE' | translate </h6></th>
            </tr>
          </thead>
          <tbody>
            <tr >
            <th scope="let row"> employeeGroupEmployee.employee.employeeName</th>
            <td> employeeGroupEmployee.employeeGroup.groupName </td>
            <td>getformatDater(employeeGroupEmployee.employeeGroupEmployeePK.fromDate) </td>
            <td>
              
                <span  matTooltip="EDIT | translate">
                  <a class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                  </a>
                </span>
              
            </td>
            <td>
              
                <span matTooltip="DELETE | translate">
                  <a  class="btn btn-sm btn-danger">
                    <i class="fa fa-remove"></i>
                  </a>
                </span>
              
            </td>
          </tr>
        </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    page
  </div>
</mat-card>
    </div>
    </ng-template>
  </mat-tab>
  <mat-tab label=" HABILITATION.GROUPRIGHT | translate ">
    <ng-template matTabContent>
      <div class="container">
        <div class="formContent">
            <form #employeeGroupForm="ngForm"  class="formLogin">
                <h4> 'HABILITATION.GROUPRIGHT' | translate </h4>
                <mat-form-field appearance="outline">
                      <mat-label> HABILITATION.GROUPRIGHTTITLE' | translate </mat-label>
                      <mat-select name="accessRightId" required>
                          <mat-option >-----</mat-option>
                          <mat-option > 
                              accessRight.accessRightName 
                          </mat-option>
                      </mat-select>
                      <mat-icon matSuffix></mat-icon>
                      <mat-error> 'HABILITATION.EMPLOYE' | translate </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                          <mat-label> 'HABILITATION.GROUPNAME' | translate </mat-label>
                          <mat-select name="employeeGroupId" required>
                              <mat-option >-----</mat-option>
                              <mat-option> 
                                  employeeGroup.groupName 
                              </mat-option>
                          </mat-select>
                          <mat-icon matSuffix></mat-icon>
                          <mat-error> 'HABILITATION.GROUPERROR' | translate </mat-error>
                  </mat-form-field>
                <div class="row pull-right">
                    <div class="form-group col-md-12" style="clear:both;">
                      <span >
                        <input  type="submit" value="BTN.SUBMIT | translate" class="btn btn-success" />
                      </span>
                      <span >
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                      </span> 
                      </div>
                </div>
            </form>
        </div>
    </div> 
    <div class="mat-elevation-z8">
      <mat-card>
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-label" style="text-align: right;"> 'SEARCH' | translate </label>
          <div class="col-sm-6">
            <input type="text" id="search" class="form-control" placeholder="PLACEHOLDER.FILTER |translate">
          </div>
    
        </div>
        <div class="alert alert-danger" role="alert">
          not found 
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            
            <th scope="col"> 'HABILITATION.RIGHTNAME' | translate  </th>
            <th scope="col">  'HABILITATION.GROUPNAME' | translate  </th>
            <th scope="col">  'HABILITATION.ASSDATE' | translate   </th>
            <th scope="col"><h6>  'ACTIONL.EDIT' | translate  </h6></th>
            <th scope="col"><h6>  'ACTIONL.DELETE' | translate  </h6></th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <th scope="let row"> getTenFirstCharacter(accessRightEmployeeGroup.accessRight.accessRightName) </th>
            <td> getTenFirstCharacter(accessRightEmployeeGroup.employeeGroup.groupName) </td>
            <td> getformatDater(accessRightEmployeeGroup.accessRightEmployeeGroupPK.fromDate) </td>
            <td>
              
                <span matTooltip="EDIT | translate ">
                  <a class="btn btn-sm btn-primary">
                  <i class="fa fa-edit"></i>
                  </a>
                </span>
              
            </td>
            <td>
              
                <span matTooltip="DELETE">
                  <a class="btn btn-sm btn-danger">
                  <i class="fa fa-remove"></i>
                  </a>
                </span>
              
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          page
        
        </div>
      </mat-card>
    </div>
    </ng-template>
  </mat-tab>
  <mat-tab label=" HABILITATION.MANARIGHT | translate "> 
    <ng-template matTabContent>
      <div class="container">
        <div class="formContent">
            <form #accessForm="ngForm" class="formLogin">
                <h4> 'HABILITATION.MANARIGHT' | translate  </h4>
                <mat-form-field>
                    <input matInput placeholder=" HABILITATION.GROUPRIGHTTITLE | translate " name="accessRightName" id="accessRightName" required
                        >
                </mat-form-field>
                <div class="row pull-right">
                  <div class="form-group col-md-12" style="clear:both;">
                    <span >
                      <input type="submit" value="BTN.SUBMIT" class="btn btn-success" />
                      <ng-template #editAccessRightButton>
                          <input type="submit" value="BTN.UPDATE"class="btn btn-success" />
                      </ng-template>
                      <input type="reset" value="BTN.RESET" class="btn btn-danger" >
                    </span>
                    <span >
                      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </span> 
                  </div>
                </div>
            </form>
        </div>
      </div> 

        <div class="mat-elevation-z8">
          <mat-card>
            <div class="form-group row">
              <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
              <div class="col-sm-6">
                <input type="text" id="search" class="form-control" placeholder="PLACEHOLDER.FILTER |translate">
              </div>
        
            </div>
            <div class="alert alert-danger" role="alert">
              not found 
            </div>
            <table class="table table-bordered">
              <thead>
              <tr>
                
                <th scope="col"> 'HABILITATION.RIGHTNAME' | translate </th>
                <th scope="col"><h6>  'ACTIONL.EDIT' | translate  </h6> </th>
                <th scope="col"><h6>  'ACTIONL.DELETE' | translate  </h6> </th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <th scope="let row"> getTenFirstCharacter(accessRight.accessRightName) </th>
                <td>
                  
                    <span matTooltip="ranslate ">
                      <a  class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                      </a>
                    </span>
                </td>
                <td>
                    <span matTooltip="DELETE">
                      <a class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>
                      </a>
                    </span>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              page
            
              <select class="custom-select" style="width: auto" >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </div>
          </mat-card>
        </div>
        
    </ng-template>
  </mat-tab>
  <mat-tab label="HABILITATION.MANGROUP"> 
      <ng-template matTabContent>
        <div class="container">
          <div class="formContent">
              <form #groupForm="ngForm"  class="formLogin">
                  <h4>HABILITATION.MANGROUP</h4>
                  <mat-form-field>
                      <input matInput placeholder="HABILITATION.GROUPNAME | translate " name="groupName" id="groupName"  required
                        >
                  </mat-form-field>
                  <div class="row pull-right">
                      <div class="form-group col-md-12" style="clear:both;">
                        <span >
                          <input type="submit" value="BTN.SUBMIT" class="btn btn-success" />
                        </span>
                        <span >
                          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        </span> 
                      </div>
                  </div>
              </form>
          </div>
      </div> 

      <div class="mat-elevation-z8">
        <mat-card>
          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
            <div class="col-sm-6">
              <input type="text"id="search" class="form-control">
            </div>
      
          </div>
          <div class="alert alert-danger" role="alert">
            not found 
          </div>
          <table class="table">
            <thead>
            <tr>
              
              <th scope="col"> 'HABILITATION.GROUPNAME' | translate </th>
              <th scope="col"><h6> 'ACTIONL.EDIT' | translate </h6></th>
              <th scope="col"><h6> ACTIONL.DELETE' | translate </h6></th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <th scope="let row"> getTenFirstCharacter(employeeGroup.groupName)</th>
              <td>
                <span >
                  <a  class="btn btn-sm btn-primary">
                  <i class="fa fa-edit"></i>
                  </a>
              </span>
              </td>
              <td>
                
                  <span >
                    <a  class="btn btn-sm btn-danger">
                    <i class="fa fa-remove"></i>
                    </a>
                  </span>
                
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-4">
              pagination
            </div>
            <div class="col-md-4 col-md-offset-4">
              <select class="custom-select" style="width: auto" >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
            </div>
          </div>
        </mat-card>
        </div>

      </ng-template>
    </mat-tab>
</mat-tab-group> -->