<!--br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="login_box">

            <div class="right">
                <div class="right-text">
                    <h2>LONYX</h2>
                    <h5>A UX BASED CREATIVE AGENCEY</h5>
                </div>
                <div class="right-inductor"><img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt=""></div>
            </div>   
            <div class="left">
                <div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
                <div class="contact">
                    <form action="">
                        <h3>SIGN IN</h3>
                        <input type="text" placeholder="USERNAME">
                        <input type="text" placeholder="PASSWORD">
                        <button class="submit">LET'S GO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    
</div-->
<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading"> Autentification</div>
            <div class="panel-body">
                <form [formGroup]="loginFormGroup" class="example-form">
                    <div class="form-group">
                        <label class="form-label" >Username / Login: </label>
                        <input type="text" autocomplete="off" formControlName="username" name="username" id="username" class="form-control" name="username">
                        <div *ngIf="f['username'].touched && f['username'].errors" class="list-group-item list-group-item-danger">
                            {{f["username"].errors|json}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" >Password: </label>
                        <input type="password" autocomplete="off" formControlName="password" name="password" id="password" class="form-control" name="password">
                    </div>
                    <button *ngIf="clicked" type="button"[disabled]="loginFormGroup.invalid" (click)="onLogin()" class="btn btn-success">login </button>
                    <i *ngIf="!clicked" class='fa fa-spinner fa-spin fa-3x'></i>
                </form>
            </div>
        </div>
    </div>
   
</div>
<button (click)="toto()" class="btn btn-succes"> jkhkljhklgjdfhjklhkldfg</button>
<br>
<iframe width="100%" height="750px" *ngIf="totoo" src="http://localhost:3000/editor?fileName=new%20(2).docx"></iframe>


