<h2 mat-dialog-title>Add Profile to Group User</h2>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12" *ngIf="loading;else content" >
        <mat-card class="loader-container">
          <app-loader></app-loader>
        </mat-card>      
      </div>
    </div>
    <ng-template #content>
      
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
              <div class="row">
                <div class="col-md-12" align="center">
                  <span>Search</span>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1" (click)="search()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                      <input [(ngModel)]="valueToSearch" type="text"id="search" class="form-control" placeholder="GroupUser Name ..." aria-describedby="basic-addon1">
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <br />
        <hr />
        <div class="row">
          <div class="col-md-12">
          <app-list-empty *ngIf="isEmpty"></app-list-empty>
          <div  class="row" *ngIf="!isEmpty">
            <div class="col-md-12">
              <mat-card class="data-1">
                <mat-progress-bar mode="indeterminate" *ngIf="loadingPage" color="warn"></mat-progress-bar>
                <br *ngIf="loadingPage" />
                <div class="row"></div>
                <div class="container">                
                  
        <div class="col-md-12">
          <fieldset>
              <div class="row"></div>
              <div class="container-fluid">
                <div class="row">
                  <form class="example-form">                  
                      <div class="row">
                          <div class="col-md-5">
                              <div>
                                  <h1> User Group Liste</h1>  
                                  <div class="example-list" >
                                      <div class="example-box"  *ngFor="let groupUser of groupUserPage?.content;let indexOfelement=index">
                                        <span style="font-size:2.5em">
                                            <strong> {{ groupUser?.name }}</strong>
                                         </span>
                                      <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                          <i class="fa fa-plus-circle  fa-2x" (click)="addGroupToProfile(groupUser)" aria-hidden="true" *ngIf="!containGroupUser(groupUser)" style="color: #00C851;"></i>
                                          <i class="fa fa-minus-circle  fa-2x" (click)="removeGroupUser(groupUser)" aria-hidden="true" *ngIf="containGroupUser(groupUser)" style="color: #ff4444;"></i>
                                      </button>
                                      </div>
                                  </div>
                            
                          </div>
                        </div>       
                        <div class="col-md-2">
                          <br>
                          <br>
                          <div class="example-list" >
                           <div  class="example-box" >                                
                                  <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true">
                                      <strong>ADD</strong> 
                                  </i>              
                           </div>
                         </div>
                      </div>
                        <div class="col-md-5">
                          <h1> Current Groupe</h1>
                          <div 
                         class="example-list"  
                        >
                            <div class="example-box1">
                              <span style="font-size:2.5em">
                                 <strong *ngIf="groupUser?.idgroupes != 0;else  other"> {{groupUser?.name}}</strong>
                                 <ng-template #other>
                                  <strong > None</strong>
                                 </ng-template>
                              </span>

                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="row">
                        <div  class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                          <app-nav-table [pageNumber]="groupUserPage?.pageable?.pageNumber!" [first]="groupUserPage?.first!" [last]="groupUserPage?.last!" [size]="groupUserPage?.size!" [totalPages]="groupUserPage?.totalPages!" (changePageAndSize)="changePageAndSize($event)"></app-nav-table>              
                        </div>
                      </div>
                  </form> 
                </div>
              </div>
          </fieldset>
          
        </div>
                </div>
                
              </mat-card>
            </div>
          </div> 
          </div>
        </div>
      </div>

    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row" align="end">
        <div class="col-md-12" *ngIf="clicked">
          <i class='fa fa-spinner fa-spin fa-4x '></i> 
        </div>
        <div class="col-md-4">
            <button type="button" (click)="onClose()" class="btn btn-danger btn-lg btn-block" *ngIf="!clicked">close</button>
        </div>
        <div class="col-md-4">
            <button type="button" (click)="onReset()" class="btn btn-warning btn-lg btn-block" *ngIf="!clicked">Reset</button>
        </div>
        <div class="col-md-4">
            <button type="button" (click)="save()" class="btn btn-success btn-lg btn-block"[disabled]="valid" *ngIf="!clicked">Save</button>
        </div>
    </div>
  </mat-dialog-actions>
