<h2 mat-dialog-title>Add/ remove Roles to Groupe</h2>
  <mat-dialog-content class="mat-typography">
    <form class="example-form">
        
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Group Name</mat-label>
            <input value="groupName" readonly matInput>
          </mat-form-field>
        </div>
        
      </div>

      <div cdkDropListGroup class="row">
        <div class="col-md-5">
          <div>
            <h1> Roles List</h1>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input (keyup)="search($event)" type="text"id="search" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
          </div>
    
        </div>

        <div class="form-group row">
          <div class="col-sm-12 col-form-label">
            <div class="input-group">
              <span class="input-group-addon" style="background: none; border: none;" id="basic-addon1">
                <mat-radio-group [(ngModel)]="searchBy" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="example-margin" value="name">Name</mat-radio-button>
                </mat-radio-group>
              </span>
            </div>
            
          </div>
    
        </div>
        <div class="alert alert-danger" *ngIf="research" role="alert">
          not found 
        </div>
            <div cdkDropList
            class="example-list" 
           (cdkDropListDropped)="onDrop($event)"  
           [cdkDropListData]="listRoles">
              <div cdkDrag class="example-box"  *ngFor="let role of listRoles;let indexOfelement=index">
                {{role.name!}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <app-nav-table [pageNumber]="pageRoles?.pageable?.pageNumber!" [first]="pageRoles?.first!" [last]="pageRoles?.last!" [size]="pageRoles?.size!" [totalPages]="pageRoles?.totalPages!" (changePageAndSize)="changePageAndSize($event)"></app-nav-table>              
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-2">
          <br>
          <br>
          <div class="example-list"  
         >
           <div  class="example-box" >
              <i class="fa fa-chevron-circle-right" aria-hidden="true">ADD</i>
           </div>
           <div  class="example-box">
              <i class="fa fa-chevron-circle-left" aria-hidden="true">REMOVE</i>
          </div>
         </div>
      </div>
        <div class="col-md-5">
          <h1> Current User</h1>
          <div cdkDropList
         (cdkDropListDropped)="onDrop($event)" 
         class="example-list"  
         [cdkDropListData]="currentRoles"
        >
            <div class="example-box1" cdkDrag *ngFor="let role of currentRoles;let indexOfelement=index">
              <div class="example-custom-placeholder" *cdkDragPlaceholder style="align-content: space-between;">
                <span style="align-content: space-between;">
                  {{ role.name! }}
                </span>
                <div class="example-handle" style="color: red;">
                  <i class="fa fa-trash-o" aria-hidden="true"(click)="onRemove(role)"></i>
                </div>
              </div>
              <span>
                {{ role.name! }}
              </span>
              <div class="example-handle" style="color: red; cursor: pointer;">
                <i class="fa fa-trash-o" aria-hidden="true" (click)="onRemove(role)"></i>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      
      </form>   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Install</button>
  </mat-dialog-actions>
