<br>
<div class="footer footer-com">
    <span class="copyright">
        <a ><img src="../../../assets/cuy.jpg" alt="Alfresco Share" width="70px" height="50px" style="border-radius: 50%;"></a>
        <span>Fourni avec 
            <a href="#">support</a>, 
            <a href="#">certification</a>, 
            <a href="#">maintenance</a>, 
            <a href="#">garantie</a> et 
            <a href="#">indemnité</a> par 
            <a href="#">SECEL Yaoundé SARL</a>. <a href="#">Cliquez ici pour nous contacter</a>.<br>SECEL Yaoundé Sarl. © 2022-2023 Tous droits réservés.</span>
     </span>
</div>