.footer {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 0;
}

.footer-com .copyright {
  display: inline-block;
  line-height: 22px;
  padding: 2px;
}
.footer .copyright {
  font-size: 9px;
}