<!-- <h2 mat-dialog-title>Organigramme Direction / Cellule</h2>
<mat-dialog-content class="mat-typography">
    <br>
    <mat-divider></mat-divider>
    <br>

    <app-error *ngIf="!loading && isEmpty"></app-error>
    <div class="row"  *ngIf="!loading && !isEmpty">
    <div class="col-md-12">
        <ngx-org-chart [nodes]="nodes" direction="vertical" (itemClick)="test($event)"></ngx-org-chart>
    </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseModal()">Cancel</button>
  <button mat-button (click)="onCloseModal()" cdkFocusInitial>Install</button>
</mat-dialog-actions>
 -->