<div class="row">
    <div class="col-md-3 col-sm-4"  *ngFor="let profile of listProfiles;let indexOfelement=index">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa" aria-hidden="true">{{profile?.name}}</i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a>User : {{profile?.currentUser}}</a>
                    </h3>
                    <p>
                        <span *ngFor="let typeProfile of typeProfiles">
                            <strong *ngIf="typeProfile.value === profile?.typeprofil!">
                                Type d'utilisateur : {{typeProfile.name}}
                            </strong>
                        </span>
                    </p>
                </div>
            </div>
        </div>        
    </div>
</div>