<h2 mat-dialog-title>Update Direction / Cellule</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Structure Name</mat-label>
                <input value="name"  matInput>
            </mat-form-field>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St"></textarea>
            </mat-form-field>
        </div>       
    </div>    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>

