<!-- <h2 mat-dialog-title>Add Role to Poste {{posteName}}</h2>
  <mat-dialog-content class="mat-typography">
    <form class="example-form">
      <div cdkDropListGroup class="row">
        <div class="col-md-5">
          <h1> Roles To Add</h1>
          <div cdkDropList
            class="example-list" 
           (cdkDropListDropped)="onDrop($event)"  
           [cdkDropListData]="groupToAddListe"
          >
            <div cdkDrag class="example-box"  *ngFor="let roles of groupToAddListe">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              {{roles.name!}}
            </div>
          </div>
          
          <nav aria-label="true" align="center">
            <ul class="pager">
              <li>
                <button  [disabled]="pageRoles?.first"  mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="onPreview()">
                  <i class="fa fa-chevron-left"  aria-hidden="true"></i>
                </button>
              </li>              
              <li>
                <button mat-button>  page {{pageRoles?.pageable?.pageNumber! + 1}}/{{pageRoles?.totalPages!}}</button>
              </li>
              <li>
                <button [disabled]="pageRoles?.last" mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="onNext()">
                  <i class="fa fa-chevron-right"  aria-hidden="true"></i>
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
            <br>
            <br>
            <div class="example-list"  
           >
             <div  class="example-box" >
                <i class="fa fa-chevron-circle-right" aria-hidden="true">ADD</i>
             </div>
             <div  class="example-box">
                <i class="fa fa-chevron-circle-left" aria-hidden="true">REMOVE</i>
            </div>
           </div>
        </div>
        <div class="col-md-5">
          <h1> Rule of poste</h1>
          <div cdkDropList
           (cdkDropListDropped)="onDrop($event)" 
           class="example-list"  
           [cdkDropListData]="groupInPoste"
          >
            <div cdkDrag class="example-box" *ngFor="let role of groupInPoste">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              {{role.name!}}
            </div>
          </div>
        </div>
      </div>      
      </form>   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions>

 -->