<br>
<div class="row">
  <div class="col-md-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
      <mat-card>
          <div class="row"></div>
          <div class="container-fluid">
              <form [formGroup]="newGroupFormGroup" class="example-form">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Group Name</mat-label>
                        <input autocomplete="off" formControlName="name" name="name" id="name" required  matInput>
                        <mat-error *ngIf="f['name'].touched && f['name'].errors">
                            {{f["name"].errors|json}}
                        </mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">   
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Group Sigle</mat-label>
                        <input autocomplete="off" formControlName="sigle" name="sigle" id="sigle" required  matInput>
                        <mat-error *ngIf="f['sigle'].touched && f['sigle'].errors">
                            {{f["sigle"].errors|json}}
                        </mat-error>
                        </mat-form-field>       
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <br>
                        <br>
                        <div class="example-list" (click)="setDroit()">
                        <div  class="example-box" >                                
                                <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true">
                                    <strong>Set Rules</strong> 
                                </i>              
                        </div>
                      </div>
                    </div>
                  <div class="col-md-6">
                    <br>
                    <br>
                    <div class="example-list">
                     <div  class="example-box" >                                
                            <i class="fa fa-2x" aria-hidden="true">
                                <strong>Value: </strong> 
                                <strong *ngIf="droitsList.length != 0;else  other"> {{droitsList.length}} Droits Selectionné</strong>
                                   <ng-template #other>
                                    <strong > Empty</strong>
                                   </ng-template>
                            </i>              
                     </div>
                   </div>
                </div>
                  </div>
                
                <br />
                  <div class="row">
                    <div class="col-md-12" *ngIf="clicked">
                      <i class='fa fa-spinner fa-spin fa-4x '></i> 
                    </div>
                    <div class="col-md-6">
                        <button type="button"  class="btn btn-danger btn-lg btn-block" *ngIf="!clicked">Reset</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" (click)="onSaveNewGroup()" class="btn btn-success btn-lg btn-block" [disabled]="!onValidData()" *ngIf="!clicked">Save</button>
                    </div>
                </div>
              </form>                
          </div>
        </mat-card>
    </div>        
</div>