<br>
<div class="row">
  <div class="col-md-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12" *ngIf="loading;else content" >
    <mat-card class="loader-container">
      <app-loader></app-loader>
    </mat-card>      
  </div>
  <ng-template #content>
    <div class="col-md-12">
      <div class="container-fluid" *ngIf="!edit">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-12">
                  <div class="card mb-3">
                    <div class="card-body">                      
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="text-right">
                                <button class="btn btn-info btn-lg" (click)="openDialogAddSubStructure()" *ngIf="structure.sousStructure!.length == 0">Add SubStructure</button>
                                <span> </span>
                                <button class="btn btn-info btn-lg" (click)="openDialogAddPostes()" *ngIf="structure.postes!.length == 0">Add Postes</button>
                              </div>
                              
                            </div>
                          </div>                       
                          <mat-tab-group color="primary">
                            <mat-tab label=" Structure Infos">
                              <ng-template matTabContent>
                                <div class="container-fluid">
                                  <br>
                                  <div *ngIf="!editStructure">                                    
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <label>Structure Name: </label>
                                      </div>
                                      <div class="col-sm-9 text-secondary fa-2x">
                                        {{structure?.name}}
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                          <label>Structure Sigle: </label>
                                        </div>
                                        <div class="col-sm-9 text-secondary fa-2x">
                                          {{structure?.sigle}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                          <label>Structure Color: </label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <i 
                                            class="fa fa-circle  fa-2x" 
                                            aria-hidden="true" 
                                            name="color" 
                                            id="color" 
                                            [style.color]="color"> 
                                            <span> ({{color}}) </span></i>
                                          
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                          <label>Structure description: </label>
                                        </div>
                                        <div class="col-sm-9 text-secondary fa-2x">
                                          {{structure?.description}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                          <label>Structure Status: </label>
                                        </div>
                                        <div class="col-sm-9 text-secondary fa-2x">
                                          <i  *ngIf="structure.active" class="fa fa-eye" style="color: green;" aria-hidden="true"> (Enable)</i>
                                          <i  *ngIf="!structure.active" class="fa fa-eye-slash" style="color: red;" aria-hidden="true"> (Desable)</i>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row gutters" *ngIf="editable">
                                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="!editStructure">
                                        <div class="text-right">
                                          <button class="btn btn-info btn-lg" (click)="onSetStructure()">Edit</button>
                                        </div>
                                        
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngIf="editStructure">
                                    <form [formGroup]="newStructureFormGroup" class="row gutters-sm">
                                      <div class="col-md-12">
                                        <div class="card mb-3">
                                          <div class="card-body">
                                            <div class="row gutters">
                                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <label class="mb-2 text-primary">Update Name & Sigle</label>
                                              </div>
                                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <label for="name">Structure Name
                                                        <mat-error *ngIf="f['name'].touched && f['name'].errors">
                                                          {{f["name"].errors|json}}
                                                        </mat-error>
                                                      </label>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <input type="text" autocomplete="off" class="form-control"  formControlName="name" name="name" id="name" required>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <label for="sigle">Strucure Sigle
                                                        <mat-error *ngIf="f['sigle'].touched && f['sigle'].errors">
                                                          {{f["sigle"].errors|json}}
                                                        </mat-error>
                                                      </label>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <input type="text" autocomplete="off" class="form-control"  formControlName="sigle" name="sigle" id="sigle" required>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row gutters">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                  <label class="mb-2 text-primary" style="text-align: center;">Update Color & Description</label>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <span>
                                                          <i class="fa fa-circle  fa-2x" aria-hidden="true" name="color" id="color" 
                                                                [style.color]="color"
                                                                    [cpPosition]="'bottom'"
                                                                    [cpPositionOffset]="'50%'"
                                                                    [cpPositionRelativeToArrow]="true"
                                                                    [(colorPicker)]="color"> <span> Change Color</span></i>
                                                        </span>  
                                                      </div>
                                                      <div class="col-md-6  fa-2x">
                                                        <span>
                                                          <label>
                                                            Status : 
                                                            <i  *ngIf="f['active'].value" (click)="setStatus()" class="fa fa-eye" style="color: green;" aria-hidden="true"> (Enable)</i>
                                                            <i  *ngIf="!f['active'].value" (click)="setStatus()" class="fa fa-eye-slash" style="color: red;" aria-hidden="true"> (Desable)</i>
                                                          </label>
                                                           
                                                          
                                                        
                                                        </span>  
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <label for="description">Strucure Description
                                                          <mat-error *ngIf="f['description'].touched && f['description'].errors">
                                                            {{f["description"].errors|json}}
                                                          </mat-error>
                                                        </label>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <textarea autocomplete="off" style="resize: none; overflow-x: hidden; overflow-y: auto;" class="form-control" formControlName="description" name="description" id="description" required cols="30" rows="10" ></textarea>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            

                                            <div class="row gutters">
                                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="text-right">
                                                  <button type="button" id="submit" name="submit" class="btn btn-secondary" (click)="onSetStructure()">Cancel</button>
                                                  <button type="button" id="submit" name="submit" class="btn btn-success" (click)="onUpdateStructure()">Update</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                              
                              
                                      </div>
                                    </form> 
                                  </div>
                                  <br>
                                  <br>
                              </div> 
                              </ng-template>
                            </mat-tab>
                            <mat-tab label=" List of SubStructure " *ngIf="structure.sousStructure!.length != 0">
                              <ng-template matTabContent>
                                <div class="container-fluid">                         
                                <div class="row container-fluid" >
                                  <div class="col-sm-12 text-secondary">
                                    <mat-card class="loader-container">
                                          <div class="col-md-12">
                                            <div>
                                              <app-list-sub-structure [structure]="structure" [edit]="editable" (status)="listChange($event)" (changeStructure)="changeStructure($event)"></app-list-sub-structure>
                                              
                                        </div>
                                          </div>
                                    </mat-card>                           
                                  </div>
                                </div>
                                <br>
                              </div> 
                              </ng-template>
                            </mat-tab>
                            <mat-tab label=" List of Postes " *ngIf="structure.postes!.length != 0">
                                <ng-template matTabContent>
                                  <div class="container-fluid">  
                                    <br>
                                    <app-list-poste [structure]="structure"></app-list-poste>
                                  <br>
                                </div> 
                                </ng-template>
                              </mat-tab>
                              <mat-tab label=" List of Profiles " *ngIf="structure.profiles!.length != 0">
                                <ng-template matTabContent>
                                  <div class="container-fluid">  
                                      <br>   
                                      <app-list-profiles [structure]="structure"></app-list-profiles>
                                  <br>
                                </div> 
                                </ng-template>
                              </mat-tab>
                          </mat-tab-group>   
                        </div>
                      </div>
                      
                    </div>
                  </div>
      
      
                </div>
              </div>
      
            </div>
        </div>
      
      
    </div>
  </ng-template>
</div>

