<h2 mat-dialog-title>Informations about Postes</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="newPosteFormGroup" class="example-form">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Structure Name</mat-label>
            <input autocomplete="off" formControlName="name" name="name" id="name" readonly  matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6">          
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Structure Description</mat-label>
                <textarea autocomplete="off" formControlName="description" name="description" id="description" readonly matInput></textarea>
              </mat-form-field>
        </div>
      </div>
    </form>   
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
