<h2 mat-dialog-title >Add Profile</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <div class="row"></div>
                <div class="container-fluid">
                    <form [formGroup]="newProfileFormGroup" class="example-form">
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Profile Name</mat-label>
                              <input autocomplete="off" (keyup)="onChangeInput($event)"  formControlName="name" name="name" id="name" required  matInput>
                              <mat-error *ngIf="f['name'].touched && f['name'].errors">
                                {{f["name"].errors|json}}
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">   
                            <h4>mat-select</h4>
                            <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Choose one</mat-label>
                            <mat-select (click)="onTouch()" (ngModelChange)="onChange($event)" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" name="typeprofil" id="typeprofil">
                                <mat-option *ngFor="let typeProfile of typeProfiles" [value]="typeProfile.value">
                                    {{typeProfile.name}}
                                  </mat-option>
                            </mat-select>
                            </mat-form-field>       
                          </div>
                        </div>
                      </form>
                </div>
              </mat-card>
          </div>        
      </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button *ngIf="clicked"><i class='fa fa-spinner fa-spin fa-4x '></i> </button> 
  <button mat-button (click)="onClose()" *ngIf="!clicked">Cancel</button>
  <button mat-button (click)="saveProfile()" [disabled]="!valid" *ngIf="!clicked">Save</button>
</mat-dialog-actions> 

