<h2 mat-dialog-title>Add SubStructure to {{StructureSigle}}</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="newStructureFormGroup" class="example-form">
      <div  class="row">
        <div class="col-md-6">            
            <div class="example-list" >          
              <div class="example-box" >
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Structure Name</mat-label>
                  <input autocomplete="off" [formControlName]="constantes.nameSearchValue" name="name" id="name" required  matInput>
                  <mat-error *ngIf="f[constantes.nameSearchValue].touched && f[constantes.nameSearchValue].errors">
                    {{f[constantes.nameSearchValue].errors|json}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div class="col-md-6">            
          <div class="example-list" >          
            <div class="example-box" >
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Structure Sigle</mat-label>
                <input autocomplete="off" [formControlName]="constantes.sigleSearchValue" name="sigle" id="sigle" required  matInput>
                <mat-error *ngIf="f[constantes.sigleSearchValue].touched && f[constantes.sigleSearchValue].errors">
                  {{f[constantes.sigleSearchValue].errors|json}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">            
          <div class="example-list" >          
            <div class="example-box" >
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Structure Description</mat-label>
                <textarea autocomplete="off" [formControlName]="constantes.description" name="description" id="description" required matInput></textarea>
                <mat-error *ngIf="f[constantes.description].touched && f[constantes.description].errors">
                  {{f[constantes.description].errors|json}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
      </div>
      <div class="col-md-6">            
        <div class="example-list" >          
          <div class="example-box" >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Structure Superieur</mat-label>
              <input autocomplete="off" [formControlName]="constantes.structureSup" name="structureSup" id="structureSup" readonly  matInput>
            </mat-form-field>
          </div>
        </div>
    </div>
    </div>
    <div  class="row">
          <div class="col-md-12">            
              <div class="example-list" > 
                <span>Choose color of Structure</span>         
              <div class="example-box" >
                  <i class="fa fa-circle  fa-4x" aria-hidden="true" name="color" id="color" 
                    [style.color]="color"
                        [cpPosition]="'bottom'"
                        [cpPositionOffset]="'50%'"
                        [cpPositionRelativeToArrow]="true"
                        [(colorPicker)]="color"></i>
                
              </div>
              </div>
          </div>
        </div>
      
    </form>   
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button *ngIf="clicked"><i class='fa fa-spinner fa-spin fa-4x '></i> </button>    
    <button mat-button *ngIf="!clicked" (click)="onClose()">Cancel</button>
    <button *ngIf="!clicked" type="button"[disabled]="desableButton()" (click)="onSaveNewStructure()" class="btn btn-success">
      Save Structure 
    </button>
  </mat-dialog-actions>