<app-loader *ngIf="loading"></app-loader>
<br>
<div class="row">
  <div class="col-md-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<div class="row">
    <div align="end">
        <button mat-button (click)="newWorkflow()">Add new courrier</button>
    </div>
</div>
<app-error *ngIf="!loading && isEmpty"></app-error>
<div  class="row" *ngIf="!loading && !isEmpty">
    <div class="col-md-12">
      <mat-card>
        <div class="row"></div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input (keyup)="search($event)" type="text"id="search" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-sm-2 col-form-label">
            <div class="input-group">
              <span class="input-group-addon" style="background: none; border: none;" id="basic-addon1">
                <mat-radio-group [(ngModel)]="searchBy">
                  <mat-radio-button class="example-margin" value="name">Name</mat-radio-button>
                  <mat-radio-button class="example-margin" value="sigle">Sigle</mat-radio-button>
                </mat-radio-group>
              </span>
            </div>
            
          </div>
    
        </div>
        <div class="alert alert-danger" role="alert">
          not found 
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">WorkFlow sigle</th>
                <th scope="col">WorkFlow NAME</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let workflow of pageWorkFlow?.content">
                <th scope="row">{{workflow.idworkflows!}}</th>
                <td>{{workflow.sigle!}}</td>
                <td>{{workflow.name!}}</td>
                <td>
                  <button mat-button [matMenuTriggerFor]="action">Actions</button>
                  <mat-menu #action="matMenu">
                    <button mat-menu-item  (click)="openDialogEdit(workflow)"> Edit</button>
                    <button mat-menu-item (click)="openDialogAddPoste(workflow)"> Add Poste To WorkFlow</button>
                    <button mat-menu-item (click)="openDialogHistoric(workflow)"> Information about</button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="row">
          <div class="col-md-4">
            <app-nav-table [pageNumber]="pageWorkFlow?.pageable?.pageNumber!" [first]="pageWorkFlow?.first!" [last]="pageWorkFlow?.last!" [size]="pageWorkFlow?.size!" [totalPages]="pageWorkFlow?.totalPages!" (changePageAndSize)="changePageAndSize($event)"></app-nav-table>              
          </div>
        </div>
      </mat-card>
    </div>
  </div>
