.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #e5f0d0;
  border: 1px solid #a1f0ae;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding-left: 15px;
  border:0px;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}
.icon-style
{
  margin-right:15px;
  font-size:18px;
  margin-top:20px;
}
p
{
  margin:3px;
}
.well-add-card
{
  margin-bottom:10px;
  background-color:rgba(187, 120, 36, 0.1);
}
.btn-add-card
{
  margin-top:20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color:rgba(180, 138, 86, 0.1);
  border: 6px solid #D9D9D9;
  border-radius: 15px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}
.btn
{
  border-radius:0px;
}
.btn-update
{
  margin-left:15px;}




 
  .social-box .box {
    background: #FFF;
    border-radius: 10px; 
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 5px;
    transition: all 0.5s ease-out;
}

.social-box .box:hover {
   box-shadow: 0 0 6px #4183D7;
}

.social-box .box-text {
    font-size: 15px;
    line-height: 15px;
    margin: 10px 0;
}

.social-box .box-btn a {
    color: #4183D7;
    font-size: 16px;
    text-decoration: none;
}

.social-box .fa {
    color: #4183D7;
}