<mat-drawer-container  class="sidenav-container" [hasBackdrop]="'false'">
<!--       <mat-drawer  #drawer style="width: 15%;" [mode]="'side'" [opened]="isLogged">
      <mat-toolbar  >
        <i class="fa fa-folder-open" matTooltip="MENU" aria-label="Side nav toggle icon" aria-hidden="true"></i>
        Menu
      </mat-toolbar>
      <mat-nav-list class="menu">
        <a mat-list-item >
          <button [matMenuTriggerFor]="new" class="btn-1">
            <i class="fa fa-plus" aria-hidden="true"></i> Nouveau
          </button>
        </a>   
        <mat-menu #new="matMenu">
          <mat-list>
            <a mat-list-item (click)="onAddFolder()">
              <button mat-menu-item><i class="fa fa-folder-o" aria-hidden="true"></i> Dossier</button>  
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="onAddSingleFile()">
              <button mat-menu-item><i class="fa fa-file-text" aria-hidden="true"></i> Importer un fichier</button>                  
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="onAddMultipleFiles()">
              <button mat-menu-item><i class="fa fa-folder"  aria-hidden="true"></i> Importer un dossier</button>                
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="createWordFile()">
              <button mat-menu-item><i class="fa fa-file-word-o" aria-hidden="true"></i> Creer un fichier Word</button> 
            </a>  
            <a mat-list-item (click)="createExcelFile()">
              <button mat-menu-item><i class="fa fa-file-excel-o" aria-hidden="true"></i> Creer un fichier Excel</button>             
            </a >
          </mat-list>
        </mat-menu>  
        <a mat-list-item routerLinkActive="active"  [routerLink]="constantes.home"><i class="fa fa-home" aria-hidden="true"></i> Mon Espace</a>     
        <a mat-list-item routerLinkActive="active"  [routerLink]="constantes.dashboardPath"><i class="fa fa-share" aria-hidden="true"></i> Partage Avec Moi</a>     
        <a mat-list-item routerLinkActive="active" [routerLink]="constantes.courrierPath" ><i class="fa fa-clock-o" aria-hidden="true"></i> Recents</a> 
        <a mat-list-item routerLinkActive="active"  [routerLink]="constantes.dashboardPath"><i class="fa fa-star-o" aria-hidden="true"></i> Suivis</a>     
        <a mat-list-item routerLinkActive="active" [routerLink]="constantes.documentationPath" ><i class="fa fa-trash-o" aria-hidden="true"></i> Corbeille</a> 
      </mat-nav-list>
    </mat-drawer>  -->
    
    <mat-drawer-content >
      <mat-toolbar [style]="'black'" *ngIf="isLogged" style="height: 36px; font-size: 15px; color: white; background-color: black;"> 
        <span >
          <a mat-button routerLink="dashboarduser"><i class="fa" aria-hidden="true">Acceuil</i> </a>
        </span>
        <span >
          <a mat-button routerLink="/myfile"><i class="fa" aria-hidden="true">Mes fichiers</i></a>
        </span>
        <span >
          <a mat-button routerLink="/documentation"><i class="fa" aria-hidden="true">Fichiers partagés</i></a>
        </span>
       
        <span >
          <button mat-button [matMenuTriggerFor]="sites"><i class="fa" aria-hidden="true">Sites<span class="caret"></span></i></button>
          <mat-menu #sites="matMenu">    
            <button mat-menu-item  >Utile(s)</button>
            <mat-divider></mat-divider>
            <button mat-menu-item ><i class="fa fa-globe" aria-hidden="true"></i>   Mes sites</button>
            <button mat-menu-item ><i class="fa fa-search" aria-hidden="true"></i>  Recherche de sites</button>
            <button mat-menu-item ><i class="fa fa-plus" aria-hidden="true"></i>  Creer un site</button>
            <button mat-menu-item ><i class="fa fa-star" aria-hidden="true"></i>   Favoris</button>
          </mat-menu>
        </span>
        <span >
          <button mat-button [matMenuTriggerFor]="taches"><i class="fa" aria-hidden="true">Taches<span class="caret"></span></i></button>
          <mat-menu #taches="matMenu">    
            <button mat-menu-item  >Utile(s)</button>
            <mat-divider></mat-divider>
            <button mat-menu-item ><i class="fa fa-tasks" aria-hidden="true"></i>   Mes taches</button>
            <button mat-menu-item ><i class="fa fa-sitemap" aria-hidden="true"></i>  Workflow que j'ai initié</button>
          </mat-menu>
        </span>
        <span >
          <button mat-button [routerLink]="constantes.manageIndexPath"><i class="fa" aria-hidden="true">Personnes</i></button>
        </span>
        <span >
          <a mat-button routerLink="entrepot"><i class="fa" aria-hidden="true">Entrepots</i></a>
        </span>
        <span *ngIf="onHasRole(constantes.admin)">
          <a mat-button [routerLink]="constantes.manageIndexPath"><i class="fa" aria-hidden="true">Outils admin</i></a>
        </span>
        <div class="right">
          <span class="title"></span>
          <span >
            <button mat-button [matMenuTriggerFor]="user"><i class="fa" aria-hidden="true">{{ sigle }} {{ name }}<span class="caret"></span></i></button>
            <mat-menu #user="matMenu">    
              <button mat-menu-item ><i class="fa fa-tachometer" aria-hidden="true"></i>  Tableau de bord utilisateur</button>
              <button mat-menu-item ><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mon Profil</button>
              <button mat-menu-item ><i class="fa fa-question-circle" aria-hidden="true"></i>  Aide</button>
              <button mat-menu-item (click)="onLogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>   Se deconnecter</button>
            </mat-menu>
          </span>
          <span >
            <div class="icon-addon addon-sm">
              <input type="text" placeholder="Email" class="form-control" id="email">
              <i [matMenuTriggerFor]="search" class="fa fa-search" aria-hidden="true"></i>
              <mat-menu #search="matMenu">    
                  <button mat-menu-item [routerLink]="constantes.manageIndexPath"  >Recherche avancée...</button>
                  
              </mat-menu>
          </div>
          </span>
        </div>
      </mat-toolbar>
      <mat-toolbar [style]="getColor()" *ngIf="isLogged"> 
        <span  *ngIf="isLogged">
          <img src="../../assets/cuy.jpg" width="50px" style="border-radius: 50%;" height="50px" alt="">
          <span> Tableau de bord de Utilisateur</span>
        </span>
        <div class="right">
          <span class="title">  
            <span *ngIf="!isLogged; else content" style="font-size:1.5em">
              PAGEGED
            </span>
            <ng-template #content>
              <span style="font-size:1.5em">
                {{ sigle }}
              </span>
              <span style="font-size:0.5em">
                ({{ name }})
              </span>
            </ng-template>
          </span>
          <span *ngIf="isLogged">
            <button mat-button ><i class="fa fa-bell " aria-hidden="true"><span class="badge">2</span></i></button>
          </span>
          <span *ngIf="isLogged">
            <button mat-button ><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
          <span *ngIf="isLogged">
            <button mat-button [matMenuTriggerFor]="menuuser"><i class="fa fa-user" aria-hidden="true"></i></button>
            <mat-menu #menuuser="matMenu">    
              <button mat-menu-item (click)="onProfil()" >Profil</button>
              <button mat-menu-item [matMenuTriggerFor]="setting"><i class="fa fa-cogs" aria-hidden="true"></i>   Parametre</button>
              <button mat-menu-item [matMenuTriggerFor]="help"><i class="fa fa-info" aria-hidden="true"></i>  Aide et assistance</button>
              <button mat-menu-item [matMenuTriggerFor]="affichage"><i class="fa fa-paint-brush" aria-hidden="true"></i>  Affichage</button>
              <button mat-menu-item (click)="onLogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>   Se deconnecter</button>
            </mat-menu>
            <mat-menu #setting="matMenu">
              <button mat-menu-item ><i class="fa fa-cog" aria-hidden="true"></i>Parametres generaux</button>
              <button mat-menu-item [matMenuTriggerFor]="language"><i class="fa fa-language" aria-hidden="true"></i>   Langue</button>
            </mat-menu>
            <mat-menu #help="matMenu">
              <button mat-menu-item [routerLink]="constantes.helpPath"><i class="fa fa-question" aria-hidden="true"></i>    Page d'aide</button>
              <button mat-menu-item [routerLink]="constantes.spbPath"><i class="fa fa-wrench" aria-hidden="true"></i>   Signaler un probleme</button>
            </mat-menu>
            <mat-menu #affichage="matMenu">
              <button mat-menu-item><i class="fa fa-moon-o" aria-hidden="true"></i> Sombre</button>
              <button mat-menu-item><i class="fa fa-sun-o" aria-hidden="true"></i>   Claire</button>
            </mat-menu>
            <mat-menu #language="matMenu">
              <button mat-menu-item>FR</button>
              <button mat-menu-item>EN</button>
            </mat-menu>
          </span>
        </div>
      </mat-toolbar>
      <div class="container-fluid">
        <div class="content-wrapper" >
          <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
        </div> 
        <div class="content-wrapper" *ngIf="isLogged" class="footer">
          <app-footer></app-footer>
        </div>
      </div>
     
      
<!--       <a class="fixedButton" (click)="drawer.toggle()" *ngIf="isLogged">
        <div class="roundedFixedBtn"><i class="fa fa-bars"></i></div>
       </a> -->
      
      
    </mat-drawer-content>
  </mat-drawer-container>
