<mat-drawer-container  class="sidenav-container" [hasBackdrop]="'false'">
    <mat-drawer  #drawer style="width: 15%;" [mode]="'side'" [opened]="isLogged">
      <mat-toolbar  >
        <i class="fa fa-folder-open" matTooltip="MENU" aria-label="Side nav toggle icon" aria-hidden="true"></i>
        Menu
      </mat-toolbar>
      <mat-nav-list class="menu">
        <a mat-list-item >
          <button [matMenuTriggerFor]="new" class="btn-1">
            <i class="fa fa-plus" aria-hidden="true"></i> Nouveau
          </button>
        </a>   
        <mat-menu #new="matMenu">
          <mat-list>
            <a mat-list-item (click)="onAddFolder()">
              <button mat-menu-item><i class="fa fa-folder-o" aria-hidden="true"></i> Dossier</button>  
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="onAddSingleFile()">
              <button mat-menu-item><i class="fa fa-file-text" aria-hidden="true"></i> Importer un fichier</button>                  
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="onAddMultipleFiles()">
              <button mat-menu-item><i class="fa fa-folder"  aria-hidden="true"></i> Importer un dossier</button>                
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="createWordFile()">
              <button mat-menu-item><i class="fa fa-file-word-o" aria-hidden="true"></i> Creer un fichier Word</button> 
            </a>  
            <a mat-list-item (click)="createExcelFile()">
              <button mat-menu-item><i class="fa fa-file-excel-o" aria-hidden="true"></i> Creer un fichier Excel</button>             
            </a >
          </mat-list>
        </mat-menu>  
        <a mat-list-item routerLinkActive="active"  [routerLink]="constantes.home"><i class="fa fa-home" aria-hidden="true"></i> Mon Espace</a>     
        <a mat-list-item routerLinkActive="active"  [routerLink]="constantes.dashboardPath"><i class="fa fa-share" aria-hidden="true"></i> Partage Avec Moi</a>     
        <a mat-list-item routerLinkActive="active" [routerLink]="constantes.courrierPath" ><i class="fa fa-clock-o" aria-hidden="true"></i> Recents</a> 
        <a mat-list-item routerLinkActive="active"  [routerLink]="constantes.dashboardPath"><i class="fa fa-star-o" aria-hidden="true"></i> Suivis</a>     
        <a mat-list-item routerLinkActive="active" [routerLink]="constantes.courrierPath" ><i class="fa fa-trash-o" aria-hidden="true"></i> Corbeille</a> 
      </mat-nav-list>
    </mat-drawer>
    
    <mat-drawer-content >
      <mat-toolbar style="background-color: aqua;" > 
        <span  *ngIf="isLogged && onHasRole(constantes.admin)">
          <button mat-button [routerLink]="constantes.manageIndexPath"><i class="fa fa-user-secret" aria-hidden="true"></i> Administration<span class="badge">2</span></button>
        </span>
        <div class="right">
          <span class="title">GED</span>
          <span *ngIf="isLogged">
            <button mat-button ><i class="fa fa-bell " aria-hidden="true"><span class="badge">2</span></i></button>
          </span>
          <span *ngIf="isLogged">
            <button mat-button ><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
          <span *ngIf="isLogged">
            <button mat-button [matMenuTriggerFor]="menuuser"><i class="fa fa-user" aria-hidden="true"></i></button>
            <mat-menu #menuuser="matMenu">    
              <button mat-menu-item (click)="onProfil()" >Profil</button>
              <button mat-menu-item [matMenuTriggerFor]="setting"><i class="fa fa-cogs" aria-hidden="true"></i>   Parametre</button>
              <button mat-menu-item [matMenuTriggerFor]="help"><i class="fa fa-info" aria-hidden="true"></i>  Aide et assistance</button>
              <button mat-menu-item [matMenuTriggerFor]="affichage"><i class="fa fa-paint-brush" aria-hidden="true"></i>  Affichage</button>
              <button mat-menu-item (click)="onLogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>   Se deconnecter</button>
            </mat-menu>
            <mat-menu #setting="matMenu">
              <button mat-menu-item ><i class="fa fa-cog" aria-hidden="true"></i>Parametres generaux</button>
              <button mat-menu-item [matMenuTriggerFor]="language"><i class="fa fa-language" aria-hidden="true"></i>   Langue</button>
            </mat-menu>
            <mat-menu #help="matMenu">
              <button mat-menu-item [routerLink]="constantes.helpPath"><i class="fa fa-question" aria-hidden="true"></i>    Page d'aide</button>
              <button mat-menu-item [routerLink]="constantes.spbPath"><i class="fa fa-wrench" aria-hidden="true"></i>   Signaler un probleme</button>
            </mat-menu>
            <mat-menu #affichage="matMenu">
              <button mat-menu-item><i class="fa fa-moon-o" aria-hidden="true"></i> Sombre</button>
              <button mat-menu-item><i class="fa fa-sun-o" aria-hidden="true"></i>   Claire</button>
            </mat-menu>
            <mat-menu #language="matMenu">
              <button mat-menu-item>FR</button>
              <button mat-menu-item>EN</button>
            </mat-menu>
          </span>
        </div>
      </mat-toolbar>
      
     
      <div class="content-wrapper" >
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div> 
      <a class="fixedButton" (click)="drawer.toggle()" *ngIf="isLogged">
        <div class="roundedFixedBtn"><i class="fa fa-bars"></i></div>
       </a>
      
      
    </mat-drawer-content>
  </mat-drawer-container>
